.style-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.3em solid rgb(34, 248, 5);
  height: 2.5em;
  width: 6em;
  border-radius: 0.3em;
  background-color: rgb(18, 18, 18);
  color: rgb(254, 255, 255);
  font-weight: 900;
  font-family: 'Quantico';
  cursor: pointer;
}

.style-times-btns {
  border-radius: 2em;
  height: 4em;
  width: 4em;
  margin: 0.8rem;
  cursor: pointer;
}